build-QuicksortThreaded-Desktop_Qt_5_13_1_MinGW_64_bit-Debug
build-Quicksort-Desktop_Qt_5_13_1_MinGW_64_bit-Debug
QuicksortThreaded/QuicksortThreaded.pro.user
Quicksort/Quicksort.pro.user
*.user
QuicksortThreaded/QuicksortThreaded.pro.user
